@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dela+Gothic+One&family=Lobster&family=Poppins:wght@100;300&family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* LOGO */

/* banner section */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#404040, #fef);
}
.banner .bannerImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
  z-index: 3;
}
.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
  z-index: 9;
}
.banner .content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.banner .content p {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}
/* header css */
.banner header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.banner header .logo img {
  transition: 0.5s;
  transform-origin: right;
  width: 100px;
  height: 100px;
  color: #fff;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 350px;
  width: 400px;
  height: 520px;
  background: #dc9b3a;
  z-index: 1;
  transition: 1s;
}
.banner.active:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #151415;
}
.banner:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 400px;
  height: 200px;
  background: #3a8f95;
  z-index: 1;
  transition: 1s;
}
.banner.active:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #151415;
}
.banner.active .logo {
  transform: scale(0);
  transform-origin: left;
}

/* toggle buttun for menu */
.banner header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(images/toggle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.banner header .toggle.active {
  background: url(images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* details related tea manufacturing */
.content {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  transform-origin: right;
}
.banner.active .content {
  transform: scale(0);
  transform-origin: left;
}
.content .contentBx {
  max-width: 600px;
}
.content .contentBx h2 {
  font-size: 4em;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}
.content .contentBx p {
  font-size: 1em;
  color: #fff;
  margin: 20px 0;
}
.content .contentBx a {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
.content .contentBx a:hover {
  letter-spacing: 4px;
  background: #fff;
  color: #111;
}
.content .imgBx img {
  width: 100%;
  height: 600px;
}
/* Eco friendly products */
.materialProducts {
  background: #f1f1f1;
}
/* Style 7
   ----------------------------- */
.materialProducts h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.materialProducts h2:after,
.materialProducts h2:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}
.materialProducts img {
  max-width: 50%;
  height: 200px;
}
.left {
  padding: 20px;
  float: left;
  width: 33%; /* The width is 20%, by default */
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.main {
  padding: 20px;
  float: left;
  width: 34%; /* The width is 60%, by default */
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.right {
  padding: 20px;
  float: left;
  width: 33%; /* The width is 20%, by default */
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
.left img,
.right img,
.main img {
  margin-top: 10px;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* menu items */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  visibility: hidden;
  opacity: 0.2;
  transition: 0.5s;
  transition-delay: 0s;
}
.banner.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.2rem;
  z-index: 11;
}

/* about us div tag */
.about {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.about .contentBx {
  background: #53a194;
  padding: 100px;
  width: 50%;
  float: left;
}
.about .imgBx {
  background: url(Images/Banners/8.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
  float: left;
}
.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Vision and Mission */
.missionVision {
  padding: 100px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headingMission {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  font-family: -apple-system;
  margin-bottom: 30px;
}
.mission {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Roboto;
  margin-bottom: 30px;
}
.vision {
  font-size: 27px;
  font-weight: 800;
  font-style: italic;
  font-family: Roboto;
  justify-content: space-between;
}

/* === HEADING STYLE #1 === */
.headingMission {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.headingMission:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.headingMission:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}
/* ecoProduct */
.ecoProduct {
  background: #a6d3a9;
  padding: 100px;
  text-align: center;
}
.ecoProduct .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  border-radius: 20%;
}
.ecoProduct .container .ecoProductBx {
  position: relative;
  background: #3a957a;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  object-fit: cover;
}
.ecoProduct .container .ecoProductBx img {
  max-width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}
.textProduct {
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.headingProduct {
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.ecoMaterial .container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.ecoMaterial {
  justify-content: center;
}
.ecoMaterial .container img {
  vertical-align: middle;
  width: 100%;
}
.ecoMaterial .container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/* .ecoMaterial .container .content h1{
      width: 100%;
  } */

.leftText {
  float: left;
  width: 50%; /* The width is 50%, by default */
  text-align: center;
}
.rightText {
  float: left;
  width: 50%; /* The width is 50%, by default */
  text-align: center;
}

.homeButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.5em;
  font-family: Lato, sans-serif;
  color: white;
  background-color: #28a745;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  padding: 2% 4% 2% 4%;
  transition: 0.3s;
  text-align: center;
  float: center;
  justify-content: center;
}

/* footer */

.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
}
.footer > * {
  flex: 1 100%;
}
.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.footer-left img {
  width: 30%;
  height: 100px;
}
.footer-left p {
  min-width: 300px;
  width: 70%;
  margin: 0 5%;
}
.footer h2 {
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 20px;
  text-align: left;
  padding-right: 35px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer a {
  text-decoration: none;
}
.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}
.footer-bottom {
  padding-top: 50px;
  text-align: center;
}
.footer-bottom p {
  padding-left: 20px;
  color: #fff;
}
.footer-left p {
  padding-right: 20%;
  color: #999;
}
.social a {
  background: #364a62;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.social a i {
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}

/* media query write for tab screen */
@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
  .banner {
    padding: 40px;
    overflow: hidden;
  }
  .banner:before {
    top: 0;
    left: 360px;
    width: 400px;
    height: 520px;
  }
  .banner:after {
    bottom: 0;
    right: 290px;
    width: 400px;
    height: 520px;
  }

  .footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  .footer-left img {
    width: 20%;
  }
  .footer-left p {
    min-width: 300px;
    width: 90%;
  }
  .ecoMaterial .content {
    width: 600px;
  }
  .mainProduct img {
    width: 40%;
  }
  .mainProduct {
    padding: 30px;
    width: 50px; /* The width is 60%, by default */
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  header {
    padding: 20px 40px;
  }
  .banner {
    padding: 40px;
    overflow: hidden;
  }
  .banner:before {
    top: 180px;
    left: 0;
    width: 170px;
    height: 310px;
  }
  .banner:after {
    bottom: 0;
    right: 0;
    width: 80px;
    height: 160px;
  }
  .about .contentBx,
  .imgBx {
    width: 100%;
  }
  .content {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .content .contentBx {
    max-width: 100%;
    height: 300px;
  }
  .content .imgBx img {
    max-width: 100%;
    min-width: 300px;
  }
  .content .contentBx h2 {
    font-size: 1.4em;
  }
  .content .contentBx p {
    font-size: 1em;
  }
  .sci {
    bottom: 0;
  }
  .about .contentBx {
    width: 100%;
    float: left;
    margin-bottom: 1em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .about .imgBx {
    background: url(Images/Banners/8.jpg);
    max-width: 0px;
    border-radius: 7px;
    margin: 0;
  }
  .menu a {
    text-size-adjust: 12px;
  }
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .leftText {
    width: 100%;
  }
  .homeButton {
    width: 100%;
  }
  .rightText {
    width: 100%;
  }
  .materialProducts h2 {
    text-align: center;
    font-size: 20px;
  }
  .footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  .footer-left img {
    width: 20%;
  }
  .footer-left p {
    min-width: 300px;
    width: 90%;
  }
  .footer-left img {
    width: 50px;
    height: 70px;
  }
  .ecoMaterial .container .content {
    margin-bottom: 0;
    height: fit-content;
  }

  .ecoMaterial .container .content h1 {
    margin-right: 0.25em;
    width: 100%;
  }
  .ecoMaterial .container .content p {
    height: 50%;
  }
  .leftProduct {
    width: 100%; /* The width is 20%, by default */
    float: none;
  }

  .mainProduct {
    width: 100%; /* The width is 60%, by default */
    float: none;
  }
  .mainProduct img {
    float: left;
    width: 50%;
  }
}

/* Row material Html */
.leftBtn {
  padding: 20px;
  float: left;
  width: 50%; /* The width is 50%, by default */
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  z-index: 10;
}

.mainBtn {
  padding: 20px;
  float: left;
  width: 50%; /* The width is 50%, by default */
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  z-index: 10;
}

/* Eco Product Page */

.mainProduct {
  padding: 30px;
  width: 100%; /* The width is 60%, by default */
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  justify-content: center;
}

.mainProduct img {
  justify-content: center;
  width: 30%;
  height: 0%;
}
.mainProduct p {
  padding-left: 300px;
  padding-right: 300px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ---------------- manufacture page css --------------- */
.ecokade {
  padding: 100px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kade {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Roboto;
  margin-bottom: 30px;
}
.ecologo {
  transition: 0.5s;
  transform-origin: center;
  width: 100px;
  height: 100px;
  color: #fff;
}
.backtoearth {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Roboto;
  margin-bottom: 30px;
}
.backtoearthlogo {
  margin-top: 2%;
  transition: 0.5s;
  transform-origin: center;
  width: 100px;
  height: 100px;
  color: #fff;
}
.ecofilms {
  margin-top: 2%;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: Roboto;
  margin-bottom: 30px;
}
.ecofilmslogo {
  margin-top: 2%;
  transition: 0.5s;
  transform-origin: center;
  width: 100px;
  height: 100px;
  color: #fff;
}
#contentabout {
  width: 100%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Form Designs */
.form_sections {
  box-shadow: 1px 1px 25px rgb(0 0 0 / 35%);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 20%;
  height: 250px;
  float: left;
  background-color: tan;
}

#others {
  box-shadow: 1px 1px 25px rgb(0 0 0 / 35%);
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

/* Button Designs */
.buttons {
  text-align: center;
  margin-bottom: 2%;
}

.submit {
  transition-duration: 0.4s;
  background-color: cornflowerblue;
  font-weight: 1000;
  height: 50px;
  width: 200px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.submit:hover {
  background-color: #4caf50; /* Green */
}

/* Orders Designs */
.current_order {
  box-shadow: 1px 1px 25px rgb(0 0 0 / 35%);
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  height: 320px;
  background-color: tan;
}

.inner_current_order {
  box-shadow: 1px 1px 25px rgb(0 0 0 / 35%);
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: cornsilk;
  font-weight: 700;
}
